---

# A Data-Manager-compliant ConfigMap.
# This is deployed tot the DM namespace and provides configuration material.
# The configMap must have the same name as the application CRD,
# e.g. 'jupyternotebooks.squonk.it'.
#
# The 'data' section provides a 'dm-app.config' key
# with a value that's essentially a Python Configparser file using '='
# as key/value delimiter.

kind: ConfigMap
apiVersion: v1
metadata:
  name: jupyternotebooks.squonk.it
  namespace: {{ jo_dmapi_namespace }}
data:
  dm-app.config: |
    [public image variants]
    # A list of image variants that are public
    # (i.e. do not need an ImagePullSecret).
    # The key is the image (including its tag).
    # The value is the image symbolic name.
    quay.io/jupyter/minimal-notebook:2025-09-16 = Minimal
    quay.io/jupyter/r-notebook:r-4.4.3 = r v4
    quay.io/jupyter/scipy-notebook:2025-09-16 = SciPy
    quay.io/jupyter/tensorflow-notebook:tensorflow-2.20.0 = Tensorflow 2.20
    quay.io/jupyter/datascience-notebook:2025-09-16 = DataScience

    [cost]
    # Charging configuration
    cost = {{ jo_cost_cost }}
    period = {{ jo_cost_period }}
    unit = PxGi
    pro rata = yes
