---
kind: Deployment
apiVersion: apps/v1
metadata:
  namespace: {{ jo_namespace }}
  name: jupyter-operator
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      application: jupyter-operator
  template:
    metadata:
      labels:
        application: jupyter-operator
    spec:
      serviceAccountName: jupyter-operator

      # Prefer 'application' nodes before 'core'
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: informaticsmatters.com/purpose-application
                operator: Exists

      containers:
      - name: jupyter-operator
        image: {{ jo_image }}:{{ jo_image_tag }}
{% if jo_image_tag in ['stable', 'latest'] %}
        imagePullPolicy: Always
{% else %}
        imagePullPolicy: IfNotPresent
{% endif %}
        env:
{% if jo_apply_pod_priority_class %}
        - name: JO_APPLY_POD_PRIORITY_CLASS
          value: 'true'
{% endif %}
        - name: JO_POD_NODE_SELECTOR_KEY
          value: '{{ jo_pod_node_selector_key }}'
        - name: JO_POD_NODE_SELECTOR_VALUE
          value: '{{ jo_pod_node_selector_value }}'
        - name: INGRESS_DOMAIN
          value: {{ jo_ingress_domain }}
{% if jo_ingress_tls_secret %}
        - name: INGRESS_TLS_SECRET
          value: {{ jo_ingress_tls_secret }}
{% else %}
        - name: INGRESS_CERT_ISSUER
          value: {{ jo_ingress_cert_issuer }}
{% endif %}
        resources:
          requests:
            cpu: {{ jo_cpu_request }}
            memory: {{ jo_mem_request }}
{% if jo_cpu_limit or jo_mem_limit %}
          limits:
{% if jo_cpu_limit %}
            cpu: {{ jo_cpu_limit }}
{% endif %}
{% if jo_mem_limit %}
            memory: {{ jo_mem_limit }}
{% endif %}
{% endif %}
